
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Mono:wght@700&family=Victor+Mono:wght@100&display=swap');
:root {
    --main-bg-color: white;
    --main-color: black;
    --aestetic-color: red;
    font-family: 'Space Mono', monospace;
  }
  

body{
    background-color: var(--main-bg-color);

    
}
#baslik{
    letter-spacing: -4px;
    font-family: 'Space Mono', monospace;
    width:max-content;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    color: var(--main-color);
    font-size: 150px;
    text-align: center;
    transition: ease-in-out 0.5s;
    -webkit-text-stroke: 4px var(--main-bg-color);
}


#baslik:hover{
    color: var(--main-bg-color);
    -webkit-text-stroke: 4px var(--main-color);
}
#altbaslik{
    font-size: 25px;
    font-family: 'Victor Mono', monospace;
    text-align: center;
    
}
.hidden{
    filter:blur(10px);
    opacity: 0;
    color: var(--aestetic-color);
    transition: ease-in-out 0.75s;
}

.show{
    color: var(--main-color);
    filter:blur(0px);
    opacity: 1;
}
#lightswitch{
    top: 10px;
    left: 10px;
    z-index: 999;
    width: 60px;
    height: 60px;
    font-size: 40px;
    background-color: var(--main-color);
    border-radius: 100px;
    border: none;
    display: block;
    position: fixed;
    
    transition: ease-in-out 0.25s;
}
#lightswitch:hover{
    cursor: pointer;
    opacity: 80%;
    border-radius: 10px;
}
section{
    margin-bottom: 0px;
}
#ortabaslik{
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 70px;
    font-family: 'Space Mono', monospace;
    text-align: center;
}
#altortabaslik{
    font-size: 60px;
    font-family: 'Space Mono', monospace;
    text-align: center;
}
#colors{
   
margin: auto;

display: block;
    text-align: center;
    width: 100px;
    height: 75px;
}
#coloredbutton{
    transition: 0.2s ease-in-out;
    font-family: 'Space Mono', monospace;
    margin-top: 10px;
    background-color: var(--aestetic-color);
    border: none;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-inline: auto;
    display: block;
    color: var(--main-color);
}
#coloredbutton:hover{
    opacity: 60%;
    cursor: pointer;
}
#coloredhref{
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    background-color: var(--aestetic-color);
    border: none;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    width: min-content;
    text-align: center;
    margin-inline: auto;
    display: block;
    color: var(--main-color);
    text-decoration: none;
}
#coloredhref:hover{
    opacity: 60%;
    cursor: pointer;
}
.links {
    position: fixed;
    font-size: 35px;
    width: max-content;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: var(--main-color);
    text-decoration: none;
    color: var(--aestetic-color);
    border: none;
    border-radius: 10px;
    padding:10px;
}

.links :hover{
    color: var(--aestetic-color);

}


    


.links a{
    transition: 0.5s;
    text-decoration: none;
    color: var(--main-bg-color);
}

#fiverrtext{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -4px;
}

